header{
  opacity:1;
}
.headline{
	text-align:center;
	font-family:@title;
  margin-bottom:0;
  line-height:1.2;
}

.pubdate{
  font-size:18px;
  text-align:center;
  margin-bottom:1em;
}

@chart-color: #F2C724;//#3182bd;
@dark-chart-color: #EFA329;

.age-info {
  text-align: center;
  font-family: @block-graphics;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  padding: 5px;
  .age {
    font-family: @bold-graphics;
    color: @dark-chart-color;
  }
  background: lighten(@light-gray,10%);
  width: 100px;
  margin: auto;
}

.threes_tooltip {
  position: absolute;
  font-size: 14px;
  font-family: @block-graphics;
  padding: 10px;
  border-radius: 3px;
  background: lighten(@light-gray,20%);
  border: 1px @dark-gray solid;
  max-width: 200px;
  &:empty {
    display: none;
  }
  @media @mobile {
    font-size: 12px;
  }
}

.interactive-chart {
  padding: 50px 10px;
  font-family: @block-graphics;
  line-height: 1.2;
  .interactive-hed, .interactive-deck {
    text-align: center;
    max-width: 600px;
    margin: auto;
  }
  .interactive-deck {
    font-family: @med-graphics;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .interactive-credit, .note {
    font-family: @med-graphics;
    font-size: 14px;
    max-width: 600px;
    margin: auto;
    padding-bottom: 10px;
    a {
      color: @redlinks;
    }
  }
}

.caption{
  text-align: right;
  padding: 0;
  margin: 0;

  &.padding{
    padding:0 10px;
  }
}

.chart-container {
  position: relative;
}

.legend-container {
  font-size: 12px;
  font-family: @block-graphics;
  width: 350px;
  padding-bottom: 30px;
  @media @mobile {
    width: 90%;
  }
  margin: auto;
  .display-flex;
  .flex-wrap(wrap);
  @media @mobile {
    margin: 15px auto;
  }
  .element {
    .flex(0 0 50%);
    @media @mobile {
      .flex(0 0 90%);
    }
  }
  .threes-swath, .projectedthrees-swath  {
    height: 14px;
    width: 14px;
    margin: 4px;
    border-radius: 2px;
  }
  .threes-swath {background: @chart-color}
  .projectedthrees-swath {background: @dark-chart-color}
  .legend-text {
    width: 170px;
    // width: auto;
    padding-left: 20px;
    vertical-align: text-top;
  }
  @media @mobile {
    padding-bottom: 0;
    margin-top: 0;
  }
}


.entry{
	margin:2em 0;
	text-align:center;
  .display-flex;
  .justify-content(space-around);
  .align-items(center);
  padding:3em 0;

  @media @phone-horiz{
    .flex-direction(column);
    padding:1.5em 1em;
  }
}

.image{
  .flex(0 0 35%);

   img{
    width:100%;
  }

  &.graphic{
    max-width:700px;
    margin:0 auto;
  }
}
.full{
 display:block;

 .info{
  text-align:center;

  @media @mobile{
    text-align:left;
  }
 }

}

.info{
  text-align:left;
  .flex(0 0 40%);
}
.date{
	font-size:1.5em;
	font-family:@block-graphics;
	color:red;
	border-bottom:1px solid #ccc;
	display:inline-block;
  margin-bottom:10px;

  @media @mobile{
    font-size:1.15em;
    text-align:left;
  }
}

.text{
	text-align:left;
	max-width:450px;
	margin:0 auto 1em;
	font-size:18px;

  &.graphic{
    max-width:600px;
  }

  @media @mobile{
    font-size:16px;
  }

  &.image{
    margin:0;
  }
}

.video{
	max-width:800px;
	margin:0 auto;
}

.intro{

  img{
    width:100%;
  }
}

.bars{
  @media @mobile{
    display:none;
  }
}

.mobile-bars{
  display:none;

  @media @mobile{
    display:block;
  }
}

.end{
  max-width: 700px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  font-size: 16px;
  font-style: italic;
}