<%= t.include("partials/_head.html") %>

  
<% var data = json.curry_timeline %>



  <div class="container">
    <div class="intro">
    	<img src="./assets/imgs/hero.jpg">
    	<h1 class="headline"><%= data.headline %></h1>
    	
 				<% data.intro.forEach(function(text) { %>
        <p><%= text.value%></p>
				<%});%>
  
    </div>

    <div id="timeline">

			<% data.dates.forEach(function(d) { %>

    	

    		<% if (d.image){ %>
    		<div class="entry">
	    		<div class="info">
	    			<div class="date"><%= d.date%></div>
	    			<div class="text"><%= d.text%></div>
	    		</div>
	    		<div class="image">
	    			<img src="<%=d.image%>">
	    		</div>
	    	</div>
 
    		<% } else if (d.video){ %>
    		<div class="entry full">
	    		<div class="info">
	    			<div class="date"><%= d.date%></div>
	    			<div class="text"><%= d.text%></div>
	    		</div>
	    		<div class="video"><div class='embed-container'><iframe src='<%= d.video %>' frameborder='0' allowfullscreen></iframe></div>
	        <div class="caption"><span class="byline"></span></div></div>
	      </div>


 
    		<% } else if (d.full){ %>
    		<div class="entry full">
	    		<div class="info">
	    			<div class="date"><%= d.date%></div>
	    			<div class="text"><%= d.text%></div>
	    		</div>
	    		<div class="image">
	    			<img src="<%=d.full%>">
	    		</div>
	      </div>

	      

    		<% } else if (d.interactive){ %>
    		<div class="entry full">
	    		<div class="info">
	    			<div class="date"><%= d.date%></div>
	    			<div class="text"><%= d.text%></div>
	    		</div>
	    		<div class="interactive">
	    			<!-- INSERT INTERACTIVE HERE -->
	    		</div>
	    	</div>
  			<% } %>
  
			<%});%>

    </div>
  </div>

  





  <script src="app.js" async></script>  
<%= t.include("partials/_footer.html") %>